<tr data-equipment_stat_id="<%= equipment_stats.id %>">
  <td data-role="stat" data-stat_id="<%= equipment_stats.stat.id %>"><%= equipment_stats.stat.name %></td>
  <td data-role="modifier"><%= equipment_stats.modifier %></td>
  <td data-role="price"><%= equipment_stats.price %></td>
  <td><button data-role="edit">Edit</button> | <button data-role="remove">Remove</button></td>
</tr>
