<%= render 'admins/navigation' %>
<section>
<div data-role="equipment_actios">
  <%= link_to "New Equipment", new_admin_equipment_path %>
</div>
</section>
<section>
<table data-role="equipment">
  <tr>
    <th>Name</th>
    <th>Price</th>
    <th>&nbsp;</th>
  </tr>
  <% @equipment.each do |equipment| %>
    <tr data-equipment="<%= equipment.id %>">
      <td><%= equipment.name %></td>
      <td><%= equipment.price %></td>
      <td><%= link_to "Edit", edit_admin_equipment_path(equipment) %> | <%= link_to "Delete", admin_equipment_path(equipment), method: :delete %></td>
    </tr>
  <% end %>
</table>
</section>
