<tr data-robot_id="<%= robot.id %>">
  <td data-role="name"><%= robot.name %></td>
  <td><span class="won" data-role="won">0</span>/<span class="lost" data-role="lost">0</span></td>
  <td class="money">ยง<span data-role="price"><%= robot.calculate_price %></span></td>
  <td>
  <% if current_user.owns(robot) %>
    <%= link_to "edit", edit_robot_path(robot), data: { role: 'edit' }  %>
    <%= link_to "delete", robot_path(robot), method: 'delete', data: { role: 'delete' } %>
 <% else %>
   <%= link_to "view", robot_path(robot), data: { role: 'view' } %>
   <%= link_to "fight", new_robot_fight_path(robot), data: { role: 'fight' } %>
 <% end %>
  </td>
</tr>
