<h1>RobotError</h1>
<h2 data-role="tagline">a game of robotic shenanigans</h2>
<% if logged_in? %>

  <%= link_to "Create a Robot", new_robot_path %>

<% else %>

<section data-role="welcome-message">
<p>Welcome the Error Dome. Please sign up or sign in to get started.</p>
</section>
<%= form_for User.new  do |form| %>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.submit "Sign Up" %>
<% end %>

