<!DOCTYPE html>
<html>
  <head>
    <title>Roboterror</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= body_class %>" >
    <div class="page-wrapper">
      <% if signed_in? %>
        <div data-role="user-identification">
          <%= current_user.email %>
          <%= link_to "Sign out", "/sign_out", method: :delete %>
          <%= admin_link %>
        </div>
      <% end %>
      <nav data-role="admin-navigation">
        <%= link_to "Users", admin_users_path %>
        <%= link_to "Equipment", admin_equipments_path %>
      </nav>
    <div data-role="flash">
    <% flash.each do |key, value| -%>
      <div class="flash <%= key %>"><%= value %></div>
    <% end -%>
    </div>
    <%= yield %>
    </div>
  </body>
    <%= yield :footer_script %>
</html>
